<form #productForm="ngForm">
  <div class="form__container">
    <mat-form-field>
      <input matInput placeholder="Ф.И.О." required [(ngModel)]="employee.fullName" name="fullName">
    </mat-form-field>

    <mat-form-field>
      <mat-select required placeholder="Местоположение" [(ngModel)]="employee.location.id" name="location">
        <mat-option *ngFor="let location of locations" [value]="location.id">
          {{location.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div fxLayout="row">
      <button mat-raised-button color="primary" [disabled]="productForm.invalid" (click)="save()">Сохранить</button>
      <a mat-button class="mat-button-wrapper" (click)="previousState()">Отменить</a>
    </div>
  </div>
</form>
